---

import ThemeToggle from "../ThemeToggle/ThemeToggle.astro";
import styles from "./Navbar.module.css";
---

<nav class={styles.nav}>
  <div class={styles.left}>
    <span class={styles.logo}>AJ</span>
  </div>

  <div class={styles.center}>
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#skills">Skills</a>
    <a href="#education">Education</a>
    <a href="#contact">Contact</a>
  </div>

  <div class={styles.right}>
    <ThemeToggle />
  </div>
</nav>
